.place-order-main {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 60px;
    border-radius: 5px;
}

.place-order-main h2 {
    text-align: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.place-order-main div {
    display: flex;
    justify-content: space-between;
}

.place-order-main .proceed-to-payment {
    justify-content: center;
    margin: 10px 0px;
}

.place-order-main .proceed-to-payment button {
    width: 100%;
}

.place-order-btn{
    background-color: white;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    display: none;
    box-shadow: 6px 6px 20px -6px rgba(0,0,0,1);
    border-radius: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .place-order-main {
        width: 60%;
        position: static;
    }

    .proceed-to-payment{
        display: none !important;
    }

    .proceed-to-payment button{
        display: none;
    }

    .place-order-btn{
        display: flex;
        position: sticky;
        bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .place-order-main{
        width: 90vw;
    }

    .place-order-btn{
        width: 100vw;
    }
}