:root {
    --primary-color: #0F1111;
    --secondary-color: #232f3e;
    --background-color: #EAEDED;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.signup-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 5px;
    min-width: 400px;
    margin: 40px 10px;
}
.signup-card .form-content{
    width: 100%;
}

.signup-card .input-item{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-card .input-item label{
    font-weight: 600;
}
.signup-card .input-item input:not([type='radio']){
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.4);
    font-size: 1.1rem;
}

.signup-card .input-item .inputs-radio-gender{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-card .input-item .inputs-radio-gender label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.signup-card .accept-terms{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    margin: 10px 0;
}

.signup-card .accept-terms input{
    width: 15px;
    height: 15px;
}

.signup-card button{
    background-color: var(--button-color);
    cursor: pointer;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 1.1rem;
}

.signup-card .already-account a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}