.ind-product {
    width: 16rem;
    min-height: 200px;
    padding: 10px;
    box-shadow: 5px 5px 30px -25px black;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    border-radius: 5px;
}

.ind-product:hover {
    box-shadow: 1px 1px 6px -4px black;
}

.ind-product .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ind-product img {
    width: 80%;
    height: 150px;
    object-fit: contain;
}

.ind-product h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ind-product p.price {
    font-size: 1.3rem;
    font-weight: 600;
}

.ind-product p.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ind-product .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-wishlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.all-products a,
.wishlist-items a {
    text-decoration: none;
    color: black;
    width: 100%;
}


@media screen and (max-width:700px) {
    .ind-product {
        width: 200px;
        min-height: 300px;
    }

    .ind-product img {
        height: 10rem;
    }

    .all-products {
        gap: 10px;
    }
}

@media screen and (max-width:500px) {
    .all-products {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 5px;
    }

    .ind-product {
        width: 45vw;
    }
}

@media screen and (max-width:450px) {
    .ind-product {
        width: 170px;
        min-height: 300px;
    }
}