/*.womens-main{*/
/*    display: flex;*/
/*    align-items: start;*/
/*    position: relative;*/
/*}*/

/*.women h2 {*/
/*    margin: 10px 30px 0px 30px;*/
/*    background-color: var(--tag-color);*/
/*    color: white;*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/