.checkout-main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    position: relative;
}

.checkout-main .left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.checkout-main .left .addresses{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout-main .left h2{
    text-align: center;
}

.checkout-main .left .address-card-main{
    position: relative;
}

.checkout-main .left .address{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    min-width: 350px;
    position: relative;
}

.checkout-main .left .address .selected-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.checkout-main .left .address .selected-icon *{
    font-size: 1.1rem;
    color: green;
}

.checkout-main .left .address-card-main .edit-address-icon{
    position: absolute;
    top: 5px;
    right: 5px;
}

.checkout-main .left .address-card-main .delete-address-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.checkout-main .left .address-card-main .edit-address-icon *{
    font-size: 1.5rem;
    color: white;
    background-color: var(--tag-color);
    border-radius: 5px;
    padding: 2px;
}

.checkout-main .left .address-card-main .delete-address-icon *{
    font-size: 1.5rem;
    color: white;
    background-color: red;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-main .left .address h3{
    text-transform: capitalize;
}

.checkout-main .left .add-address{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.checkout-main .left .address.selected{
    background-color: #dcdcf5;
}

.checkout-main .right .total-amount{
    margin-top: 65px;
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .checkout-main{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .checkout-main .right .total-amount{
        position: static;
        margin-top: 0px;
    }

}

@media screen and (max-width: 510px) {
    .checkout-main .left .address{
        width: 90vw;
    }
}

@media screen and (max-width: 510px) {
    .checkout-main .left .address{
        min-width: 90%;
    }
}