.my-account-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    min-height: 70vh;
    padding: 40px 10px;
}

.my-account-main .account-details {
    display: flex;
    gap: 20px;
    align-items: start;
    padding: 10px;
    position: relative;
}

.my-account-main .account-details .profile,
.my-account-main .account-details .address {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.my-account-main .account-details .profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-width: 290px;
    width: 20vw;
    border-top: 3px solid #007bff;
    position: sticky;
    top: 60px;
}

.my-account-main .account-details .profile .profile-pic {
    margin: auto;
}

.my-account-main .account-details .profile .profile-pic * {
    font-size: 4rem;
    color: var(--tag-color);
    margin: auto;
}

.my-account-main .account-details .address {
    min-width: 350px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 20px;
}

.my-account-main .account-details .address .tabs {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.my-account-main .account-details .address .ind-address-profile {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    position: relative;
}

.my-account-main .account-details .address .ind-address-profile .edit-address-icon,
.my-account-main .account-details .address .ind-address-profile .delete-address-icon{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--tag-color);
    color: white;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-account-main .account-details .address .ind-address-profile .delete-address-icon{
    top: 100%;
    transform: translateY(-100%);
    background-color: red;
}

/*Media Query Starting*/

@media screen and (max-width: 700px) {
    .my-account-main .account-details {
        margin: auto;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .my-account-main .account-details .profile {
        min-width: 220px;
        width: 70vw;
    }

    .my-account-main .account-details .address {
        min-width: 350px;
        width: 70vw;
    }

    .my-account-main .account-details .address .ind-address-profile {
        padding: 10px;
        gap: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .my-account-main .account-details .profile {
        min-width: auto;
        width: 90vw;
    }

    .my-account-main .account-details .address {
        min-width: auto;
        width: 90vw;
    }
}