.cart-item{
    display: flex;
    width: 450px;
    background-color: white;
    border-radius: 5px;
}

.cart-item .left{
    min-width: 200px;
    max-width: 200px;
    height: 250px;
    padding: 10px;
    cursor: pointer;
}

.cart-item .left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-item .right{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-item .right h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cart-item .right .qnt-btn{
    display: flex;
    align-items: center;
}

.cart-item .right .qnt-btn input{
    width: 30px;
    text-align: center;
}

.cart-item .right .buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .cart-item{
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .cart-item{
        width: 100vw;
    }
}