:root {
    --primary-color: #0F1111;
    --secondary-color: #232f3e;
}

footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
}

.bg-img {
    background-image: url('../../images/footer-background.jpg');
    background-size: 100% 100%;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.bg-img .social-links {
    display: flex;
    gap: 30px;
}

.bg-img img {
    width: 40px;
}

.bg-img img:hover {
    transform: scale(1.09);
    transition: 0.4s;
}

footer .details {
    padding: 20px 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .details h3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
    border-bottom: 2px solid white;

}

footer .details p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
    cursor: pointer;
}

.get-app {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid white;
    padding: 0.7rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.icon-text:hover {
    background-color: white;
    transition: 0.4s;
    color: var(--secondary-color);
}

.icon-text img {
    width: 30px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

@media screen and (max-width: 500px) {
    .connect {
        display: none;
    }
    .bg-img .social-links {
        gap: 15px;
    }
    .bg-img img {
        width: 35px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 10px;
    }
}