.all-single-product {
    margin: 30px 0px 50px 0px;
}

.single-product {
    min-height: 60vh;
    width: 100vw;
    margin: 20px 0px;
}

.category-location {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-location .category {
    font-size: 1.5rem;
}

.category-location .location {
    font-size: 1.1rem;
    font-weight: bold;
}

.all-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}

.all-details .image-section {
    display: flex;
    gap: 10px;
    position: sticky;
    top: 60px;
}

.all-details .image-section .image-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.all-details .image-section .image-selector .small-img {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.all-details .image-section .image-selector .small-img:hover {
    border: 2px solid;
}

.all-details .image-section .image-selector img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.all-details .image-section .full-image {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 500px;
    background-color: white;
}

.all-details .image-section .full-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.all-details .price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
}

.discountedPercent {
    font-size: 1.2rem;
}

.discounted {
    text-decoration: line-through;
    font-style: italic;
}

.orgPrice {
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
    font-size: 1rem;
}

.red {
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}

.deal {
    display: flex;
    align-items: center;
    gap: 2px;
}

.all-details .price-desc-btn .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: beige; */
    width: 100%;
    padding: 20px 10px;
}

.related-product {
    border-top: 1px solid black;
    padding-top: 10px;
}

.related-product .title-deal {
    display: flex;
}



/* Copied  */

.all-details .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.all-details .product-details .desc {
    font-size: 1.2rem;
}

.all-details .product-details .product-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    padding-left: 40px;
}

.all-details .product-details .product-desc h1{
    text-transform: capitalize;
}

.all-details .product-details .price .buyPrice {
    display: flex;
    gap: 15px;
}

.all-details .product-details .price .mrp {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.all-details .product-details .offers {
    border: 0.5px dashed rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.all-details .product-details .offers p {
    display: inline-block;
    padding: 6px 0px;
}

.all-details .product-details .offers img {
    width: 20px;
}

.all-details .product-details .offers .offer-icon {
    color: green;
}

.all-details .product-details .check-location {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.all-details .product-details .input-btn {
    position: relative;
}

.all-details .product-details .input-btn button {
    position: absolute;
    bottom: -5px;
    right: -10px;
    background-color: var(--background-color);
}

.all-details .product-details .delivery-contract {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0px;
    padding: 20px 0px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.all-details .product-details .delivery-contract img {
    width: 30px;
}

.all-details .product-details .delivery-contract .delivery-contract-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-details .product-details .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}



/* Media Query  */


@media screen and (max-width: 1400px) {
    .all-details .image-section .full-image {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .all-details .image-section .full-image {
        width: 300px;
        height: 300px;
    }

    .all-details .product-details .product-desc {
        padding-left: 20px;
    }

}

@media screen and (max-width: 900px) {
    .all-details .price-desc-btn .product-desc {
        padding-left: 20px;
    }
}

@media screen and (max-width: 800px) {

    .all-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .all-details .image-section {
        position: relative;
        top: 0;
    }

    .all-details .image-section .full-image {
        width: 80vw;
        height: 60vw;
    }

}

@media screen and (max-width: 600px) {
    .all-details .image-section {
        display: flex;
        gap: 10px;
        flex-direction: column-reverse;
    }

    .all-details .image-section .full-image {
        width: 90vw;
        height: 60vw;
    }

    .all-details .image-section .image-selector {
        display: flex;
        gap: 5px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .all-details .image-section .image-selector .small-img {
        width: 60px;
        height: 60px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .all-details .product-details .delivery-contract {
        margin: 20px 0px;
    }
}

@media screen and (max-width: 500px) {
    .all-details {
        margin: 20px 10px;
    }

    .all-details .product-details .product-desc {
        padding-left: 10px;
    }

    .all-details .image-section .full-image {
        width: 95vw;
        height: 65vw;
    }
}