@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
:root {
  --primary-color: #0F1111;
  --secondary-color: #232f3e;
  --background-color: #EAEDED;
  --tag-color: #0e5db3;
  --button-color: #1976d2;
}

body {
  width: 100vw;
  background-color: var(--background-color);
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Merienda', cursive;
}

body::-webkit-scrollbar {
  width: 5px;
}
