.go-to-top {
    background-color: var(--button-color);
    padding: 10px;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
}